Repository murimessias/astro-with-keystatic: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add commitlint
  .husky/commit-msg
  commitlint.config.ts
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add netlify adapter
  astro.config.mjs
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add cloud config
  keystatic.config.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: uses a11y eslint config globally
  .eslintrc.cjs
Due: none

chore: update layouts
  src/pages/posts/[slug].astro
  src/shared/base-layout.astro
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: delete post locally to test cloud integration
  src/content/posts/test.mdx
Due: prettier --write --ignore-unknown

chore: improve typescript support & keystatic settings
  keystatic.config.tsx
  src/content/config.ts
  src/pages/index.astro
  src/pages/posts/[slug].astro
  tsconfig.json
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

fix: remove missing collection type
  keystatic.config.tsx
  src/content/config.ts
  src/content/posts/post-1/index.mdx
  src/content/posts/post-2/index.mdx
  src/content/posts/post-3/index.mdx
  src/content/posts/post-4/index.mdx
  src/content/posts/post-5/index.mdx
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add mdx config & kitchen sync example
  astro.config.mjs
  src/content/posts/post-6-from-cloud/index.mdx
  src/content/posts/post-7-with-formatted-content/index.mdx
Due: prettier --write --ignore-unknown

chore: add playwright & basic test
  .gitignore
  astro.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  src/pages/index.astro
  src/pages/posts/[slug].astro
  src/shared/base-head.astro
  src/shared/base-layout.astro
  src/tests/e2e/meta.spec.ts
  src/tests/e2e/smoke.spec.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add sitemap
  astro.config.mjs
  package-lock.json
  package.json
  src/pages/robots.txt.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

fix: add missing site map link rel
  src/pages/posts/[...slug].astro
  src/shared/base-head.astro
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add ci github action
  .github/workflows/continous-integration.yml
  src/tests/e2e/meta.spec.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: add typecheck into ci & test merge trigger
  .github/workflows/continous-integration.yml
Due: none

chore: add env example file
  .env.example
Due: none

chore: disable eslint on astro types.d.ts
  src/env.d.ts
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: trigger ci
  ci-test.txt
Due: none

revert "chore: trigger ci"
  ci-test.txt
Due: none

chore: add dependabot
  .github/dependabot.yml
Due: none

chore: add vs code settings file
  .vscode/settings.json
Due: prettier --write --ignore-unknown

chore: add extensions recommendations
  .vscode/extensions.json
Due: prettier --write --ignore-unknown

chore: add eslint plugin playwright
  .eslintrc.cjs
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: add knip & apply suggestions
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

refactor: update lint staged flow
  .lintstagedrc.json
  .lintstagedrc.mjs
  package.json
  src/pages/posts/[...slug].astro
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore: move deps
  package.json
Due: prettier --write --ignore-unknown

fix: ensure astro check works properly
  tsconfig.json
Due: prettier --write --ignore-unknown

chore: add astro check to lint staged
  .lintstagedrc.mjs
  package.json
  src/pages/posts/[...slug].astro
Due: prettier --write --ignore-unknown, eslint --report-unused-disable-directives --max-warnings=0

chore(bump): upgrade keystatic packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Path conditions:
  prettier --write --ignore-unknown: (any of: *.{css,scss,json,mdx,mdoc}) or (any of: *.{js,jsx,ts,tsx,astro})
  eslint --report-unused-disable-directives --max-warnings=0: any of: *.{js,jsx,ts,tsx,astro}
